@import "./reset.styl"
@import "./iconfont/iconfont.css"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1)
  background: $color-background
  color: $color-text

no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap